doctype html
head
	meta(charset='UTF-8')
	meta(name='viewport' content='width=device-width, initial-scale=1.0')
	title Byte Talk - Home
	link(rel='icon' href='/resources/icon.png')
	link(href='https://fonts.googleapis.com/css2?family=Belanosima&family=Poppins:wght@200&display=swap' rel='stylesheet')
	//- link(rel='stylesheet' type='text/css' href='\public\styles\style.css')
	link(rel='stylesheet' type='text/css' href='styles/style.css')
	link(rel='stylesheet' type='text/css' href='styles/signin.css')
	link(rel='stylesheet'  href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css')
body
	header
		nav
			.logo
				a(href="/") 
					img(src="../resources/logo.png")
			.customer-services
				.help
					a(href="#")  Help
				.about-us
					a(href="#")  About us
				.contact
					a(href="#")  Contact
	main
		#container.container
			.form-container.sign-up-container
				form(action='./home.pug' method="post")
					h1 Create Account
					.social-container
						a.social(href='#')
							i.fab.fa-facebook-f
						a.social(href='#')
							i.fab.fa-google-plus-g
						a.social(href='#')
							i.fab.fa-linkedin-in
					span or use your email for registration
					input(type="hidden" name="formType" value="signup")
					input(type='email' placeholder='Email' name="email" required)
					input(type='text' placeholder='Name' name="username" required)
					input(type='password' placeholder='Password' name="password" required)
					button(type="submit") Sign Up
			.form-container.sign-in-container
				form(action='./home.pug' method="post")
					h1 Sign in
					.social-container
						a.social(href='#')
							i.fab.fa-facebook-f
						a.social(href='#')
							i.fab.fa-google-plus-g
						a.social(href='#')
							i.fab.fa-linkedin-in
					span or use your account
					input(type="hidden" name="formType" value="login")
					input(type='text' placeholder='Username' name="username" required)
					input(type='password' placeholder='Password' name="pasword" required)
					a(id="forgotPassword" href='#') Forgot your password?
					button(type="submit") Sign In
			.overlay-container
				.overlay
					.overlay-panel.overlay-left
						h1 Welcome Back!
						p To keep connected with us please login with your personal info
						button#signIn.ghost Sign In
					.overlay-panel.overlay-right
						h1 Hello, Friend!
						p Enter your personal details and start journey with us
						button#signUp.ghost Sign Up

	footer Byte Talk chatting app. Created to connect people.
	if message  
		script. 
			alert("#{message}")
	//- script(src='scripts/script.js')
	script(src='scripts/signin.js')
