*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../resources/background-2.jpg");
    background-size: cover;
    font-family: 'Belanosima', sans-serif;
}

.main{
   
    border: 2px solid black;
  margin:20px;
  padding: 20px;
  border-radius: 13px;
  background-color: rgb(255, 255, 255);
  height: 95vh;
  width: 23%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

h2{
    padding: 10px;
    padding-bottom: 20px;
}

form{
    padding: 10px;
}

input{
    border: 2px solid black;
    border-radius: 4px;
    padding: 3px;
}

input:hover{
    background-color: aliceblue;
}

#uname{
    font-size: 20px;
}
#btn{
    padding: 3px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 4px;
    font-family: 'Belanosima', sans-serif;
    transition: all .5s ease-in-out;
    

}

/* #btn{

    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 4px;

    font-weight: bolder;
    height: 25px;
    width: 42px;
    font-size: 12px;
} */



#btn:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;;
}