* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: url("../resources/background.jpg");
    background-size: cover;
}

a {
    text-decoration: none;
    color: black;

}

a:hover {
    color: white;
    text-decoration: solid;
}

header {
    height: 10vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


}

nav {
    display: flex;
}

.logo {
    width: 70vw;
    height: 100%;
    padding-left: 1.5rem;
}

.img {
    position: absolute;
    top: -40px;
    height: 20vh;
    width: 20vh;
    background-image: url("../resources/logo.png");
    background-size: contain;
    background-repeat: no-repeat;

}

.customer-services {
    float: right;
    width: 30vw;
    height: 100%;
    display: flex;
    font-size: 26px;
    /* font-weight: 500; */
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* gap: space-evenly; */
}

.customer-services div {
    height: 5vh;
    width: 10vw;
    padding: 1.5rem;
}

.customer-services div:hover {
    color: rgb(55, 182, 251);

}

main {
    height: 80vh;
    width: 100vw;
    display: flex;
    gap: 5rem;
    overflow: hidden;
}

.main-div {
    height: 70vh;
    width: 40vw;
    background-color: #ffffff;
    border-radius: 2rem;
    border: 3px solid rgb(71, 71, 71);
    ;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 48px;
}


.info {
    position: absolute;
    top: 12.5vh;
    left: 5vw;
    font-family: 'Belanosima', sans-serif;
}

h1 {
    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 16px;
    color: rgb(55, 182, 251);
    padding: 10px;
    font-family: 'Belanosima', sans-serif;
    margin: 25px;
    text-align: center;
}

.login {
    position: absolute;
    top: 12.5vh;
    right: 5vw;
    display: grid;
    place-items: center;


}

.input {
    border: 2px solid black;
    background-color: rgba(197, 197, 197, 0.552);
    border-radius: 10px;
    padding: 14px;
    transition: all .5s;
}

.input:hover {
    background-color: rgba(219, 239, 255, 0.552);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

form {
    /* border: 2px solid black; */
    height: 90%;
    width: 50%;
    font-family: 'Belanosima', sans-serif;
    margin: 25px;
    margin-left: 125px;

}

h1 {
    top: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

label {
    height: 10%;
    width: 100%;
    font-size: large;
}

input {
    height: 1.5rem;
    width: 100%;
    margin-bottom: 15px;
}

.submit {
    margin-top: 25px;
    margin-left: 80px;
    background-color: rgb(55, 182, 251);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    color: #ffffff;
    font-family: 'Belanosima', sans-serif;
    font-size: 20px;
    transition: all .5s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}

.submit:hover {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    background-color: rgb(55, 251, 124);
    color: rgb(255, 255, 255);
    cursor: pointer;
    height: 45px;
    width: 110px;
}

.btn {
    height: 45px;
    width: 110px;
    padding: 4px;
}

footer {
    height: 5vh;
    margin-top: 5vh;
    width: 100vw;
    background-color: rgb(55, 182, 251, 0.55);
}

footer {
    height: 10vh;
    width: 100vw;
    background-color: rgb(55, 182, 251);
    color: rgb(0, 0, 0);
    display: grid;
    place-items: center;
    font-weight: 600;
    font-family: 'Belanosima', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.signup-slide {
    position: absolute;
    top: 12.5vh;
    left: 5vw;
    z-index: 10;
    background-color: #a51717;
}

.info-slide {
    position: absolute;
    top: 12.5vh;
    right: 5vw;
    z-index: 10;

}

#signup-btn {
    margin: 3px;
    text-decoration: underline;
    color: rgb(55, 182, 251);
}